* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: hsl(210, 46%, 95%)
    
}

#Testimonial-container{
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
}

#Testimonial-1 {
    position: relative;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    z-index: 0;
}

#Testimonial-2 {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

#Testimonial-3, #Testimonial-5 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

#Testimonial-4 {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}

.grid-item{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    font-size: 13px;
}

.grid-item p {
    opacity: 70%;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    z-index: 3;
    position: relative;
}

.header img {
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #7541c8;
}

.grid-item h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.header .name {
    opacity: 100%;
    font-size: 1rem;
}

#quote {
    position: absolute;
    right: 15%;
    top: 0;
    z-index: 1;
}

@media (min-width: 576px) {
  #Testimonial-container {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 0 auto;
  }

  #Testimonial-5 {
    flex-basis: 25%;
  }

  #main-left {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
  }

  #main-left .grid-item {
    margin-right: 15px;
  }

  #top, #bottom {
    display: flex;
    flex-basis: 50%;
  }

  #Testimonial-1, #Testimonial-4 {
    flex-basis: 65%;
  }

  #Testimonial-2, #Testimonial-3 {
    flex-basis: 35%;
  }
}